<main>
  <h1>AS GUIs Marko</h1>
  <p>
    This is a live version of an implementation of
    <a href="https://eugenkiss.github.io/7guis/">7GUIs</a>
     (+ extra) in
    <a href="https://markojs.com/">Marko</a>
  </p>
  <ul>
    <li>
      <a href="https://github.com/SarcevicAntonio/as-guis/">
        🐙 Visit project repo
      </a>
    </li>
    <li>
      <a href="https://github.com/SarcevicAntonio/as-guis/tree/main/marko/src/comopnents">
        📝 Browse component source code.
      </a>
    </li>
  </ul>

  <div.articles>
    <article>
      <div.title>
        <h2>Hello World</h2>
        <a href="https://github.com/SarcevicAntonio/as-guis/blob/main/marko/src/components/hello-world.marko">
          📝
        </a>
      </div>
      <div.content><hello-world/></div>
    </article>
    <article>
      <div.title>
        <h2>Counter</h2>
        <a href="https://github.com/SarcevicAntonio/as-guis/blob/main/marko/src/components/counter.marko">
          📝
        </a>
      </div>
      <div.content><counter/></div>
    </article>
  </div>
</main>
style { @import "../../styles.css"; }
