---
import TabGroup from "../components/TabGroup.svelte";
import Tab from "../components/Tab.svelte";
import HelloWorld from "../components/HelloWorld";
import "./styles.css";

const guis = {
  HelloWorld,
};
---

<main>
  <h1>AS GUIs</h1>
  <ul>
    <li>
      <a href="https://github.com/SarcevicAntonio/as-guis/">
        Visit project repo
        </a>
    </li>
    <li>
      <a href="https://github.com/SarcevicAntonio/as-guis/tree/main/sveltekit/src/lib">
        Browse component source code.
      </a>
    </li>
  </ul>
  
  <section class="articles">
  {
    Object.entries(guis).map(([gui, frameworks]) => (
        <article>
          <h2>&lt;{gui}/&gt;</h2>
          {Object.entries(frameworks).map(
            ([framework, { demo: Demo, code }]) => (
              <h3>
                {gui}.{framework}
                </h3>
                <Demo use:client />
                <pre>{code}</pre>
            )
          )}
        </article>
        ))
      }
      </sect>
</main>
